
<launch>
	<!-- When calling the launch file you can provide the .urdf file that you want to look at as a parameter.
	Example: roslaunch your_pkg_name inspect_urdf.launch model:='$(find your_pkg_name)/path/to/your_urdf.urdf' -->
	
	<arg name="model" default="$(find dimitri_description)/urdf/dimitri.urdf"/>
	<arg name="rvizconfig" default="$(find dimitri_description)/rviz/urdf.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE"/>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />



</launch>
